.order-tracker {
  display: flex;
  align-items: center;
  margin: 20px 0;
  .tracker-step {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    &.completed {
      color: green;
    }
    mat-icon {
      font-size: 28px;
    }
    .step-label {
      font-size: 12px;
    }
  }

  .separator {
    height: 2px;
    background-color: #ccc;
    &.completed {
      background-color: green;
    }
  }
}
.tracker-step {
  color: #6c757d;

  &.completed {
    color: #28a745;
  }

  &.cancelled {
    color: red;

    mat-icon {
      color: red;
    }
  }
}

