<div class="order-tracker d-flex justify-content-between align-items-center">
  <ng-container *ngFor="let step of steps; let last = last">
    <div class="tracker-step text-center" [ngClass]="getStepClass(step)">
      <mat-icon>
        {{
          step === 'Placed' ? 'shopping_cart' :
          step === 'Confirmed' ? 'check_circle' :
          step === 'Shipped' ? 'local_shipping' :
          step === 'Out For Delivery' ? 'local_shipping' :
          step === 'Delivered' ? 'home' :
          step === 'Cancelled' ? 'cancel' : 'circle'
        }}
      </mat-icon>
      <div class="step-label">{{ step }}</div>
    </div>
    <div class="separator flex-grow-1 mx-2" [ngClass]="getStepClass(step)" *ngIf="!last"></div>
  </ng-container>
</div>
